.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    padding-top: 100px;
    margin-bottom: 100px;
}

.home img{
    border-radius: 50%;
    width: 250px;
}

.home img:hover{
    box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.05s ease-in-out;
    /* transform:  scale(1.05); */
}

.home h1{
    text-align: center;
    width: 50%;
    font-size: 60px;
    font-weight: 600;
}

.home h1 span{
    background: linear-gradient(-270deg, #10f494 10%, #2f4c58 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.home-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.home-connect{
    padding: 15px 35px;
    border-radius: 50px;
    background: linear-gradient(-264deg, #10f494 -5.09%, #2f4c58 106.28%);
    cursor: pointer;
    color: #fafafa;
}

.home-connect a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.home-resume{
    padding: 15px 35px;
    border-radius: 50px;
    border: 2px solid #2f4c58;
    color: #2f4c58;
    cursor: pointer;
}

.home-resume a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.home-connect:hover{
    border: 2px solid #2f4c58;
    padding: 13px 33px;
    background: linear-gradient(175deg, #10f494 -5.09%, #2f4c58 106.28%);
}

.home-resume:hover{
    border-color: #10f494;
}