.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px
}

#navbar-logo{
    width: 150px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    /* font-family: 'Roboto', sans-serif; */
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(-267deg, #10f494 0.36%, #2f4c58 102.06%);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #fafafa;
    cursor: pointer;
}

.nav-connect:hover{
    box-shadow: 0px 0px 15px 0px rgba(16, 244, 148, 0.5);
    transition: all 0.5s ease-in-out;
    transform:  scale(1.05);
}