.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    margin-bottom: 200px;
}

.work-title{
    position: relative;
}

.work-title h1{
    padding: 0px 30px;
    padding-bottom: 60px;
    font-size: 80px;
    font-weight: 600;
}

.work-title img{
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
}

.work-sections{
    display: flex;
    flex-direction: column;
    gap: 100px;
}